@import url("https://fonts.googleapis.com/css?family=Raleway");

$font: "Raleway", sans-serif;
$btnHover: #599686;
$darkbtn: #74b7a5;
$mainColor: #ead8a6;
$grayColor: #efefef;
$darkGrayColor: #cacaca;
$purpleColor: #2e2f4b;
$redColor: #a81c1c;
$brownColor: #a0693a;
$heading: 37px;
$title: 23px;
$titleChosen: 29px;
$text: 18px;
$footnote: 13px;

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;

  main {
    width: 100%;
    max-width: 1400px;
    height: 90vh;
    max-height: 800px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 30px 50px;
    background: $mainColor;
    display: flex;
    align-items: center;
    justify-items: middle;
  }
  h1,
  h3,
  h5 {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
  }
  h1 {
    font-size: $heading;
  }
  h3 {
    font-size: $title;
  }
  h5 {
    font-size: $text;
  }
  p {
    font-size: $text;
  }
  i {
    font-size: $footnote;
  }
}
