@import "base";

.brown {
  color: $brownColor;
}
.collapse {
  width: 20px;
}
.step {
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-beteen;
  width: 270px;
  transition: all 0.2s ease;
  &.expand {
    width: 100%;
    height: 90%;
    overflow: scroll;
    border-left: 2px solid $brownColor;
  }
}
.title {
  margin: 10px 0;
  text-decoration: none;
  &.chosen {
    font-size: $titleChosen;
    text-decoration: underline;
  }
}
.text {
  line-height: 1.7;
  font-size: $text;
  color: $brownColor;
}
li:first-of-type {
  margin-top: 30px;
}
